@{
    var lang = @System.Globalization.CultureInfo.CurrentCulture.Name;
    var path = hostingEnvironment.EnvironmentName.ToLowerInvariant();
    var reactSrc = path == "production" ? "https://unpkg.com/react@16/umd/react.production.min.js" : "https://unpkg.com/react@16/umd/react.development.js";
    var reactDomSrc = path == "production" ? "https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" : "https://unpkg.com/react-dom@16/umd/react-dom.development.js";
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@(ViewBag.BrowserTitle ?? "")</title>
    <meta property="og:description" content="@(ViewBag.GoogleDescription ?? "")" />
    @*@if (!string.IsNullOrEmpty(ViewBag.FacebookImages))
        {
            <meta property="og:image" content="@ViewBag.FacebookImages" />
        }

        <link rel="apple-touch-icon" sizes="57x57" href="~/assets/favicon/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="~/assets/favicon/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="~/assets/favicon/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicon/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="~/assets/favicon/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="~/assets/favicon/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="~/assets/favicon/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="~/assets/favicon/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicon/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="~/assets/favicon/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="~/assets/favicon/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png" />
        <link rel="manifest" href="~/assets/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#264340" />
        <meta name="msapplication-TileImage" content="~/assets/favicon/ms-icon-144x144.png" />
        <meta name="theme-color" content="#264340" />*@
    
    <link rel="stylesheet" href="/build/@path/common.bundle.css" />
    @RenderSection("Styles", required: false)
    
</head>
<body class="body" data-require="/build/@path/modernizr.bundle.js,//www.google-analytics.com/analytics.js">
    <figure class="background body__background">
        <img src="/Assets/background.svg" />
        
    </figure>

    <div class="container body__container">
        @RenderBody()
    </div>
 

    @RenderSection("Scripts", required: false)
    <script>
        window.InitReact = {
            src: "@reactSrc",
            srcDom:"@reactDomSrc",
            init:function () {            
                @Html.Raw(React.ReactEnvironment.GetCurrentOrThrow.GetInitJavaScript(false));
            }
        }
    </script>
    <script async crossorigin src="/build/@path/index.bundle.js"></script>
    <!-- @Html.ReactInitJavaScript() -->
</body>
</html>