@{
    var lang = @System.Globalization.CultureInfo.CurrentCulture.Name;

}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>@(ViewBag.BrowserTitle ?? "")</title>
    <meta property="og:description" content="@(ViewBag.GoogleDescription ?? "")" />
    @*@if (!string.IsNullOrEmpty(ViewBag.FacebookImages))
        {
            <meta property="og:image" content="@ViewBag.FacebookImages" />
        }

        <link rel="apple-touch-icon" sizes="57x57" href="~/assets/favicon/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="~/assets/favicon/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="~/assets/favicon/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicon/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="~/assets/favicon/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="~/assets/favicon/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="~/assets/favicon/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="~/assets/favicon/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicon/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192" href="~/assets/favicon/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="~/assets/favicon/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png" />
        <link rel="manifest" href="~/assets/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#264340" />
        <meta name="msapplication-TileImage" content="~/assets/favicon/ms-icon-144x144.png" />
        <meta name="theme-color" content="#264340" />*@

    <script crossorigin src="/build/modernizr.bundle.js"></script>

    @*<environment names="Development">*@
    <link rel="stylesheet" href="~/Styles/common.css" />
    @*</environment>*@
    @*<environment names="Staging,Production">
            <link rel="stylesheet" href="~/Styles/Build/common.css" />
        </environment>*@
</head>
<body class="body" data-require="">
    <figure class="background body__background">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 671.7 810.8" style="enable-background:new 0 0 671.7 810.8;" xml:space="preserve">
        <style type="text/css">
            .st0 {
                clip-path: url(#SVGID_2_);
            }

            .st1 {
                clip-path: url(#SVGID_4_);
            }

            .st2 {
                opacity: 0.2;
                clip-path: url(#SVGID_6_);
            }

            .st3 {
                clip-path: url(#SVGID_8_);
                fill: url(#SVGID_9_);
            }

            .st4 {
                clip-path: url(#SVGID_11_);
                fill: none;
                stroke: #F1F0F0;
            }
</style>
        <g>
        <g>
        <defs>
        <rect id="SVGID_1_" x="-0.3" width="672" height="812.6" />















		                </defs>
        <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" style="overflow:visible;" />















		                </clipPath>
        <g class="st0">
        <g>
        <defs>
        <rect id="SVGID_3_" x="-0.3" width="672" height="812.6" />















				                </defs>
        <clipPath id="SVGID_4_">
        <use xlink:href="#SVGID_3_" style="overflow:visible;" />















				                </clipPath>
        <g class="st1">
        <g>
        <g>
        <defs>
        <rect id="SVGID_5_" x="-5.3" y="-3.9" width="682.1" height="817" />















							                </defs>
        <clipPath id="SVGID_6_">
        <use xlink:href="#SVGID_5_" style="overflow:visible;" />















							                </clipPath>
        <g class="st2">
        <g>
        <defs>
        <rect id="SVGID_7_" y="0.3" width="671.4" height="812" />















									                </defs>
        <clipPath id="SVGID_8_">
        <use xlink:href="#SVGID_7_" style="overflow:visible;" />















									                </clipPath>
									
        <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="-57.2145" y1="19.6589" x2="-56.6545" y2="19.6589" gradientTransform="matrix(1142.7632 0 0 1142.7632 65359.7148 -22059.2051)">
        <stop offset="0" style="stop-color:#AFDBF5" />















        <stop offset="3.571430e-03" style="stop-color:#AFDBF5" />















        <stop offset="1" style="stop-color:#9BD094" />















									                </linearGradient>
        <rect y="0.3" class="st3" width="671.4" height="812" />















								                </g>
        <g>
        <defs>
        <rect id="SVGID_10_" x="-5.3" y="-3.9" width="682.1" height="817" />















									                </defs>
        <clipPath id="SVGID_11_">
        <use xlink:href="#SVGID_10_" style="overflow:visible;" />















									                </clipPath>
        <rect y="0.3" class="st4" width="671.4" height="812" />















								                </g>
							                </g>
						                </g>
					                </g>
				                </g>
			                </g>
		                </g>
	                </g>
                </g>
</svg>
    </figure>

    <div class="container body__container">
        @RenderBody()
    </div>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
   
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'GACode', 'auto');
        ga('send', 'pageview');
    </script>

    @RenderSection("Scripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>